<p id="notice"><%= notice %></p>

<div class="grid-x align-top align-center grid-margin-x grid-padding-x">
	<div class="cell grid-x small-12 medium-12 large-12 self-align-middle">
		<div class="grid-y align-top align-middle">
			<div class="cell flex-child-auto align-center""><img src="https://maps.googleapis.com/maps/api/staticmap?center=london&zoom=13&scale=true&size=900x900&&maptype=roadmap&sensor=false&format=png&visual_refresh=true&key=AIzaSyBV9vInPS00pHq-rNdlLb1Wl6Fyhg6W_5Q" alt="Google Map of London" alt="" /></div>
			<div class="cell flex-child-auto"> <h1 class="contact-us-header">Get In Touch.</h1></div>
			<div class="cell flex-child-auto">Park Street, London, Mayfair, W1K 7HQ</div>
			<div class="cell flex-child-auto">team@accelerateddigitaldelivery.co.uk</div>
			<div class="cell flex-child-auto"> +44 7831 375 612</div>
			<div class="cell flex-child-auto">Call us or message - We like to chat</div>
		</div>
				
 	</div>
</div>






<script>
  $(document).foundation();
</script>
