<p id="notice"><%= notice %></p>

Admin Page
<ul>
	<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
	<li> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>

</ul>





<script>
  $(document).foundation();
</script>
