<p id="notice"><%= notice %></p>






<div class="hero-section">
  <div class="hero-section-text">
    <h1>Our Mission</h1>
    <h5>Help leaders create the businesses of the future</h5>
  </div>
</div>



 <script>
      $(document).foundation();
    </script>
